bin/
lib/liblcf
Debug*
Release*
*.exe
*.suo
*.user
*.*sdf
*.VC.db
*.VC.opendb
ipch/
CMakeCache.txt
CMakeFiles/
*.cmake

.deps/
autom4te.cache/
.dirstamp
*.o
*~
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
*.tar.gz

/Makefile
lcf2xml/lcf2xml
lcf2xml/Makefile
lmu2png/lmu2png
lmu2png/Makefile
xyz2png/xyz2png
xyz2png/Makefile
png2xyz/png2xyz
png2xyz/Makefile
xyzcrush/xyzcrush
xyzcrush/Makefile
gencache/gencache
gencache/Makefile
