bin/
lib/liblcf
Debug*
Release*
*.suo
*.user
*.*sdf
ipch/
CMakeCache.txt
CMakeFiles/
*.cmake
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
lcf2xml/lcf2xml
lcf2xml/lcf2xml.exe
lmu2png/lmu2png
lmu2png/lmu2png.exe
xyz2png/xyz2png
xyz2png/xyz2png.exe
png2xyz/png2xyz
png2xyz/png2xyz.exe
missing
Makefile.in
