bin/
lib/liblcf
Debug*
Release*
*.exe
*.suo
*.user
*.*sdf
*.VC.db
*.VC.opendb
*.vs/*
ipch/
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
*.cmake
!Modules/*.cmake

.deps/
autom4te.cache/
.dirstamp
*.o
*.a
*~
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
stamp-h1
*.tar.?z

Makefile
!/xyz-thumbnailer/linux/Makefile
lcf2xml/lcf2xml
lmu2png/lmu2png
xyz2png/xyz2png
png2xyz/png2xyz
xyzcrush/xyzcrush
gencache/gencache
lcftrans/lcftrans
lcfviz/lcfviz

*.ninja
.ninja*

# VS Code
.vscode/
.cache/
compile_commands.json
build/
